[submodule "Runtime/ScriptableDOTween"]
	path = Runtime/ScriptableDOTween
	url = https://github.com/TukkakeBears/ScriptableDOTween
[submodule "Runtime/Creational"]
	path = Runtime/Creational
	url = https://github.com/TukkakeBears/Creational
